<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <h1 class="text-center mb-4">To-Do List</h1>
    <!-- Include the add todo form -->
    <!-- Table -->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Description</th>
            <th>Is Done</th>
            <th>CreateAt</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over each to-do item -->
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.id}">ID</td>
            <td th:text="${todo.task}">Task</td>
            <td th:text="${todo.description}">Description</td>
            <td th:text="${todo.isDone}">Is Done</td>
            <td th:text="${todo.createdAt}">Create At</td>
            <td style="display: inline-flex; gap: 5px">
                <!-- Form to delete to-do item -->
                <form th:action="@{/todo/delete/{id}(id=${todo.id})}" method="post">
                    <button type="submit" class="btn btn-danger" style="align-items: center">Delete</button>
                </form>
                <!-- Form to edit to-do item -->
                <form th:action="@{/todo/edit/{id}(id=${todo.id})}" method="get">
                    <button type="submit" class="btn btn-secondary" style="align-items: center">Edit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/todo/add-todo}" class="btn btn-success mt-3" style="background-color: deepskyblue; margin-bottom: 5px">Add New</a>
    <!-- Search by Task -->
    <form action="/todo/search" method="get">
        <div class="form-group" style="display: inline-flex; gap: 5px">
<!--            <label for="searchTask">Search by Task:</label>-->
            <input type="text" id="searchTask" name="task" class="form-control" placeholder="Enter task name"  style=" width: 200px;">
            <button type="submit" class="btn btn-primary" style="background-color: deepskyblue; ">Search</button>
        </div>

    </form>
    <!-- Search by Is Done -->
    <form action="/todo/search" method="get" class="mt-3">
        <div class="form-group" style="display: inline-flex; gap: 5px">
<!--            <label for="searchIsDone">Search by Is Done:</label>-->
            <input type="text" id="searchIsDone" name="isDone" class="form-control" placeholder="Enter isDone" style=" width: 200px;">
            <button type="submit" class="btn btn-primary" style="background-color: deepskyblue; " >Search</button>
        </div>

    </form>
</div>

</body>
</html>
